<div class = "container1">
    <h1 class = "animate__animated animate__fadeInDown"> Education</h1>
    <div class = "container0">

        <h2 class="animate__animated animate__fadeInLeft">William Paterson University</h2>
             <p class="animate__animated animate__fadeInLeft">2017-2021</p>
             <p style = "padding-bottom: 30px;" class="animate__animated animate__fadeInLeft">B.S. Computer Science</p>
            
        <h2 class="animate__animated animate__fadeInLeft">Mount Olive High School</h2>
               <p class="animate__animated animate__fadeInLeft">2011-2015</p>
               <p class="animate__animated animate__fadeInLeft">High School Diploma</p>
                
       
    </div>   
</div>
