<div class ="container1">
    <h1 class = "animate__animated animate__fadeInDown">About me</h1>
    <div class="container0">
        <p class="animate__animated animate__fadeInLeft">My name is Ian Olson and I am currently a senior college student at William Paterson University studying Computer Science.</p>
        <p class="animate__animated animate__fadeInLeft">I am very much looking forward to graduation to put some of the skills I have learned to good use.</p>
        <p class="animate__animated animate__fadeInLeft">  I am interested in a few different things, but right now I am focusing on learning Angular and developing some front-end skills.
              Eventually, when I am satisfied with my front-end work, I want to learn more back-end as that is where most of my interests lie.</p> 
              <p class="animate__animated animate__fadeInLeft">
                In my spare time i enjoy playing the guitar, fishing, watching UFC, and hanging around with friends and family.
                I'm also a huge documentary-binger and like to learn about random things i find interesting.
              </p>   
    </div>
</div>
<router-outlet></router-outlet>