<div class="container1">
    <h1 style = "text-align: center;" class = "animate__animated animate__fadeInDown">Experience</h1>
    <div class="container0">
        <h2 style = "font-size: 30px" class = "animate__animated animate__fadeInDown"> Related Experience</h2>              
            <h2 class = "animate__animated animate__fadeInLeft">Quality Assurance Intern at Millenium Systems International</h2>
                <p class = "animate__animated animate__fadeInLeft">May 2018-August 2018</p>              
                <p class = "animate__animated animate__fadeInLeft" style = "padding-bottom: 20px;" >
                    Learned about the testing and debugging of software.  I learned how to test for bugs
                    and how to report a bug correctly.  I got very good at communicating with the different
                    development teams and recognizing what bugs went to each team.  I also learned a lot about agile software devlelopment.  
                </p>  
        <h2 class = "animate__animated animate__fadeInDown" style = "font-size: 30px">Other Experience</h2>
        <h2 class = "animate__animated animate__fadeInLeft">Delivery Driver at Brandas Italian Grill</h2>
            <p class = "animate__animated animate__fadeInLeft">October 2016 - Present</p>
            <p class = "animate__animated animate__fadeInLeft">Responsible for the quick and safe delivery of orders from the restaurant to the customer.  Also responsible
               for catering orders, where we set up wire racks and water pans in the customers home and place the food ordered
               in them.  Great communication skills rewuired in order to make sure the customer has the best experience with
               the restaurant as possible
            </p>
    </div>
</div>
