<div class="container1">
    <h1 class = "animate__animated animate__fadeInDown">Contact Information</h1>
    <div class = "container0">
       <p class = "animate__animated animate__fadeInLeft">Phone Number: 862-324-1649</p> 
       <p class = "animate__animated animate__fadeInLeft">Email: ianolson1@gmail.com </p>
       <div style="text-align: center"> 
        <span class="a">  
            <figure>
               <a href="https://github.com/ianolson1"> <fa-icon [icon]="['fab', 'github']" class= iconstyle> </fa-icon></a>
               <figcaption class = "a">Github</figcaption>
            </figure>
           </span> 
        <span class="a">  
         <figure>
            <a href="https://www.linkedin.com/in/ian-olson-a8007612b/"><fa-icon [icon]="['fab', 'linkedin']"class="iconstyle"></fa-icon></a>
            <figcaption class = "a">Linked-in</figcaption>
         </figure>
        </span> 
    </div>
    </div>
</div>