<div class = "container1">
        <h1 class = "animate__animated animate__fadeInDown">Skills</h1>
    <div class="container0">

      <span class="a">
        <img src="https://img.icons8.com/color/48/000000/c-plus-plus-logo.png" alt = "C++"/>
        <figcaption class="a">C++</figcaption>
      </span>  

      <span class="a">
        <img src="https://img.icons8.com/color/48/000000/c-sharp-logo-2.png"/>
        <figcaption class = "a">C#</figcaption>
      </span> 

      <span class="a">
        <img src="https://img.icons8.com/color/48/000000/angularjs.png"/>
        <figcaption class = "a">Angular</figcaption>
      </span> 
      
      <span class="a">
        <img src="https://img.icons8.com/color/48/000000/html-5.png"/>
        <figcaption class = "a">HTML 5</figcaption>
      </span> 

      <span class="a">
        <img src="https://img.icons8.com/color/48/000000/css3.png"/>
        <figcaption class = "a">CSS 3</figcaption>
      </span> 

      <span class="a">
        <img src="https://img.icons8.com/color/48/000000/amazon-web-services.png"/>
        <figcaption class = "a">AWS s3 Buckets</figcaption>
      </span> 
    
    
    
    
    </div>   
</div>
